* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
  background: rgb(109, 160, 255);
}


.bg-color {
  background: #fff;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  border-radius: 10px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}



