* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: rgb(109, 160, 255);
}

.bg-color {
  background: #fff;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  border-radius: 10px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/*********************** header ***************************/

.header {
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  border-bottom: 2px solid rgb(47, 97, 177);
  box-shadow: 0 12px rgba(0, 0, 255, 0.2);
  margin-top: 20px;
}

.logo {
  width: 150px;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.logo:hover {
  transform: translateX(14px);
}

.nav {
  color: rgb(47, 97, 177);
  font-size: 14px;
  padding: 8px 20px;
  margin-right: 10px;
  border: 2px solid rgb(47, 97, 177);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.nav:hover {
  background: rgb(254, 254, 7);
  color: rgb(47, 97, 177);
  border: 2px solid rgb(254, 254, 7);
}

/*********************** content ***************************/

.content {
  margin-top: 40px;
  margin-bottom: 70px;
  align-items: center;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: rgb(132, 172, 238);
  border-radius: 5px;
  margin-right: 15px;
  height: 120px;
  padding: 20px 20px;
  margin-top: 40px;
  box-shadow: 4px 6px 2px 1px rgba(0, 0, 255, 0.2);
  transition: all 0.2s ease-in;
}

.card:hover {
  transform: translateY(2px);
  box-shadow: none;
}

.card .leftSide {
  display: flex;
  align-items: center;
}

.card .leftSide img {
  width: 115px;
  height: 100px;
  transition: all 0.3s ease-out;
  ma
}

.card img:hover {
  width: 125px;
  height: 110px;
}

.btn {
  color: rgb(47, 97, 177);
  font-size: 14px;
  padding: 4px 20px;
  margin-right: 10px;
  border: 2px solid rgb(47, 97, 177);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  justify-content: flex-end;
}

.btn:hover {
  background: rgb(254, 254, 7);
  color: rgb(47, 97, 177);
  border: 2px solid rgb(254, 254, 7);
}

/*********************** content ***************************/

.pagination input {
  width: 5%;
  height: 30px;
  margin: 0 10px;
}

.pagination {
  padding-bottom: 20px;
  justify-content: flex-end;
  align-items: center;
}

#poke-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}