* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: rgb(109, 160, 255);
}

.bg-color {
  background: #fff;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  border-radius: 10px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.cu-p {
  cursor: pointer;
}
/*********************** header ***************************/

.header {
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  border-bottom: 2px solid rgb(47, 97, 177);
  box-shadow: 0 12px rgba(0, 0, 255, 0.2);
  margin-top: 20px;
}

.logo {
  width: 150px;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.logo:hover {
  transform: translateX(14px);
}

.nav {
  color: rgb(47, 97, 177);
  font-size: 14px;
  padding: 8px 20px;
  margin-right: 10px;
  border: 2px solid rgb(47, 97, 177);
  border-radius: 30px;
  cursor: pointer;
  transition: color 0.3s ease-out;
}

.nav:hover {
  background: rgb(254, 254, 7);
  color: rgb(47, 97, 177);
  border: 2px solid rgb(254, 254, 7);
}

.content {
  height: 100vh;
}

#favorite-cart
